package config

type Config struct {
	App  AppConfig
	Auth AuthConfig
}

type AppConfig struct {
	Name string
	Port int
}

type AuthConfig struct {
	Issuer                 string
	ClientID               string
	Scopes                 []string
	RedirectPath           string
	PostLogoutRedirectPath string
}

func Default() *Config {
	return &Config{
		App: AppConfig{
			Name: "__GOFRA_APP_NAME__",
			Port: 3000,
		},
		Auth: AuthConfig{
			Issuer:                 "http://localhost:9000",
			ClientID:               "__GOFRA_APP_NAME__-web",
			Scopes:                 []string{"openid", "profile", "email"},
			RedirectPath:           "/auth/callback",
			PostLogoutRedirectPath: "/",
		},
	}
}
