package config

import (
	"net/http"

	runtimev1 "__GOFRA_MODULE__/gen/__GOFRA_PROTO_PACKAGE__/runtime/v1"
	"__GOFRA_FRAMEWORK_MODULE__/runtimeconfig"
)

func NewPublicConfigResolver(
	cfg *Config,
	opts ...runtimeconfig.Option[runtimev1.RuntimeConfig],
) runtimeconfig.Resolver[runtimev1.RuntimeConfig] {
	return runtimeconfig.NewResolver(cfg, BindPublicConfig, opts...)
}

func PublicConfigHandler(
	cfg *Config,
	opts ...runtimeconfig.Option[runtimev1.RuntimeConfig],
) http.Handler {
	return runtimeconfig.Handler(NewPublicConfigResolver(cfg, opts...))
}
