module __GOFRA_MODULE__

go 1.25

require (
	__GOFRA_FRAMEWORK_MODULE__ __GOFRA_FRAMEWORK_VERSION__
	github.com/go-chi/chi/v5 v5.2.5
	github.com/spf13/pflag v1.0.10
)

replace __GOFRA_FRAMEWORK_MODULE__ => __GOFRA_FRAMEWORK_DIR__
