package config

type Config struct {
	App    AppConfig
	Public PublicConfig
}

type AppConfig struct {
	Name string
	Port int
}

func Default() *Config {
	return &Config{
		App: AppConfig{
			Name: "__GOFRA_APP_NAME__",
			Port: 3000,
		},
		Public: PublicConfig{
			AppName:    "__GOFRA_APP_NAME__",
			APIBaseURL: "http://localhost:3000",
			Auth: PublicAuthConfig{
				Issuer:                 "http://localhost:9000",
				ClientID:               "__GOFRA_APP_NAME__-web",
				Scopes:                 []string{"openid", "profile", "email"},
				RedirectPath:           "/auth/callback",
				PostLogoutRedirectPath: "/",
			},
		},
	}
}
